.header-nav{
    display: none;
}

.title-image-div{
    min-height: 200px;
}

.title-image-div-main{
    position: static;
}

.title-image-card{
    top: 250px;
    width: 80%;
    left: 10%;
}


.blog-div-main h1{
    margin-top: 30rem;
}